/* Font: Open Sans bold 700 : font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    background-color: #AC63EE;
    color: #111111;
    font-family: 'Open Sans'
}

#horloge{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#heure{
    text-align: center;
    font-size: 100px;
}

::-webkit-scrollbar{
    display: none;
}